.image-container{
    position:relative;}
.image-container img{width:100%;
height:auto;
opacity: 0.9;}


.text-overlay{position:absolute;
top:25%;
left:20%;
right:20%;

transform:translate(-20%,-50%);
color:brown;
font-size: 400%;
text-align:center;
margin:8%;
border-radius:20%;
font-style: italic;
}


h1{
    text-align:center;
    color:brown;
}